@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/* CSS for Body */
body {
    background: rgb(80, 63, 76);
}

#navImg {
    height: 11em;
}

#navbar {
    background: rgb(240, 236, 223);
}

#nav_login, #nav_register, #nav_logout, #nav_fav, #nav_drinks, #nav_avatar, #nav_recommends {
    text-decoration: none;
    color: rgba(221, 73, 15, 0.8);
    font-weight: bold;
}

#nav_login:hover, #nav_register:hover, #nav_logout:hover, #nav_fav:hover, #nav_drinks:hover, #nav_avatar:hover, #nav_recommends:hover {
    text-decoration: none;
    cursor: pointer;
    color:rgb(80, 63, 76);
}

#logo {
    height: 250px;
}

#search_btn {
    border-color: rgba(221, 73, 15, 0.8);
    color:rgb(80, 63, 76);
}

#search_btn:hover {
    background-color: rgba(221, 73, 15, 0.8);
    color:rgb(240, 236, 223);
}

#H3-drink-text {
    color:rgb(240, 236, 223);
}


/* CSS for Cards */
.card-body {
    text-align: center;
    background-color: rgb(240, 236, 223);
    color: rgba(221, 73, 15, 0.8);
}

#card-btn {
    background-color: rgb(80, 63, 76);
    color: rgba(221, 73, 15, 0.8);
    border-radius: 8px;
    border-color:rgba(221, 73, 15, 0.8);
}

#card-btn:hover {
    background-color: rgb(197, 151, 186);
    color: rgba(221, 73, 15, 0.8);
}


/* Favorites Buttons */
.fav-off {
    color:rgba(221, 73, 15, 0.8);
}

.fav-off:hover {
    color:rgb(80, 63, 76);
}

.fav-on {
    color: rgb(80, 63, 76);
}

.fav-on:hover {
    color:rgba(221, 73, 15, 0.8);
}

.add-favorite-font {
    margin-left: -15px;
    font-size: 11px;
}

.remove-favorite-font {
    margin-left: -30px;
    font-size: 11px;
}

.btn-primary {
    background-color: rgb(80, 63, 76);
    color: rgba(221, 73, 15, 0.8);
    border-radius: 8px;
    border-color:rgba(221, 73, 15, 0.8);
}

.btn-primary:hover {
    background-color: rgb(197, 151, 186);
    color: rgba(221, 73, 15, 0.8);
}

.arrow {
    color: rgba(221, 73, 15, 0.8);
}

/* Favorites Table */
#fav-table {
    color:rgb(240, 236, 223);
}

#drink-link {
    color:rgba(221, 73, 15, 0.8);
}

#drink-link:hover {
    color:rgba(252, 117, 64, 0.932);
}

#arrow {
    color:rgba(221, 73, 15, 0.8);
}

#arrow:hover {
    color:rgba(252, 117, 64, 0.932)
}

/* Recommends Table */
#fav-table {
    color:rgb(240, 236, 223);
}

#drink-link {
    color:rgba(221, 73, 15, 0.8);
}

#drink-link:hover {
    color:rgba(252, 117, 64, 0.932);
}

/* Drinks List CSS */
#drink-img {
    height: 80px;
    border-radius: 8px;
}